// this file should ONLY have import lines

@import "../../Components/Nav.scss";
@import "../../App.scss";
@import "../../index.scss";
@import "../../Components/Login.scss";
@import "../../Components/Register.scss";
@import "../../Components/Dashboard.scss";
@import "../../Components/Department.scss";
@import "../../Components/Departments.scss";
@import "../../Components/Folders/Search_results.scss";

// run `npm run sass` to compile scss into css
// https://dev.to/darnocer/how-to-setup-your-project-with-sass-scss-ip4