@media (min-width: 300px) and (max-width: 2000px) {
  .site-logo {
    color: #222f3e;
    border: 3px solid;
    border-radius: 8px;
    border-color: #48dbfb;
    transition: 0.5s;
    padding: 5px;
    margin-left: 1em; }
  .site-logo:hover {
    background-color: #48dbfb; }
  .site-logo-text {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
    font-family: monospace;
    text-align: center; }
  nav {
    background-color: #079cf9;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    padding-left: 20%;
    padding-right: 20%;
    top: 0;
    position: fixed;
    width: 100%; }
  .nav-span {
    padding: 10px;
    border-radius: 6px;
    color: #222f3e;
    transition: 0.5s;
    font-weight: bold;
    color: white;
    margin-left: 30px; }
  .nav-span:link {
    text-decoration: none; }
  .nav-span:hover {
    background-color: royalblue; }
  .nav-user-check {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .nav-welcome {
    font-weight: 400;
    font-size: 16px;
    margin: 5px; }
  .main-window-space {
    padding-top: 100px;
    margin: 0 5%; }
  .nav-new-item {
    margin-left: 150px; }
  .nav-links {
    width: 40%; } }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.login-form {
  display: flex;
  margin-left: 25%; }

.login-form-fields {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 5%;
  align-items: center; }

.login-image {
  object-fit: cover;
  width: 600px;
  height: 800px; }

.login-text {
  color: black; }

h1.login-text {
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0px 6px 4px #ffffff; }

.register-form {
  display: flex;
  margin-left: 25%; }

.register-form-fields {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 5%;
  align-items: center; }

.register-image {
  object-fit: cover;
  width: 600px;
  height: 800px; }

strong {
  color: black; }

.boxone, .boxtwo, .boxthree {
  display: flex; }

.heading-format {
  margin-left: 20px; }

.boxtwo div, .boxthree div {
  width: 99%; }

#newitem:hover {
  cursor: pointer; }

.inventory {
  display: flex;
  height: 100px;
  width: 100%;
  margin: 20px;
  background-color: lightblue;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.5); }

.inventoryTable {
  width: 100%;
  margin: auto;
  text-align: center; }

.inventoryTable td {
  padding: 10px; }

.summary-title {
  font-weight: bold; }

.new {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 20%;
  margin: 20px;
  background-color: lightblue;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.5); }

.newlink {
  height: 50px; }

.add-btn {
  font-weight: bold;
  letter-spacing: 2px; }

.departments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
  grid-template-rows: min-content; }

.department {
  text-align: center;
  height: 100px;
  margin: 20px;
  width: 100%;
  background-color: lightblue;
  text-decoration: none;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  padding: 10px 0px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.5); }

.dep-details {
  width: 100%;
  margin: auto;
  text-align: center; }

.dep-details td {
  padding: 10px; }

.dep-name-dashboard {
  font-weight: bold; }

.mintable {
  width: 100%;
  margin: auto; }

.mintable tr {
  padding: 10px; }

.minlevels {
  margin: 20px;
  border-radius: 10px;
  background-color: lightblue;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.5); }

.itemvalue-title {
  text-align: center;
  display: table-cell;
  text-decoration: none;
  color: black;
  font-weight: bold; }

.itemvalue {
  text-align: center;
  display: table-cell;
  text-decoration: none;
  color: black; }

.minitem-title {
  padding: 5px 0px 5px 40px;
  font-weight: bold; }

.minitem {
  padding: 5px 0px 5px 40px; }

.TEST {
  width: 100px; }

.stock-level-container {
  display: flex;
  flex-direction: row;
  width: 100%; }

.stock-level-container h3 {
  width: 400px; }

.icon-container {
  padding-top: 12px; }

.departmentName {
  display: flex;
  font-size: 2em;
  justify-content: space-between;
  font-weight: bold;
  padding: 30px; }

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 30px; }

.single-item {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 30%;
  font-size: 1.1em;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out; }

.single-item-title {
  letter-spacing: 3px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 30%;
  font-size: 1.1em;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out; }

.single-item:hover {
  box-shadow: 0px -10px 20px 1px rgba(0, 0, 0, 0.5); }

.depView {
  display: flex; }

.itempic {
  object-fit: cover;
  height: 150px;
  width: 150px; }

.deppic {
  width: 300px; }

#departments {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0 30px;
  height: 600px;
  color: black;
  align-items: flex-start; }

.departmentsList {
  display: flex;
  color: black;
  text-decoration: none; }

.department-name {
  margin-left: 10px; }

.search-table {
  table-layout: fixed;
  width: 100%;
  border: 6px groove #079cf9; }

.itemvalue-search {
  color: white;
  padding: 2px;
  margin-left: 2px; }

.itemvaluetitle {
  color: white;
  font-weight: bold; }

.search-results {
  background-color: #079cf9;
  width: 100%; }

.folderView {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding-left: 10%; }

.depview {
  width: 120px; }

.single-dep {
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 150px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 30%;
  font-size: 1.1em;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out; }

.single-dep:hover {
  box-shadow: 0px -10px 20px 1px rgba(0, 0, 0, 0.5); }

.departmentlist {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  padding-left: 10%;
  padding-bottom: 2%; }

.chevron {
  padding: 25px 15px 0 15px; }

.filters {
  display: flex; }

.searchresults {
  padding: 0 10%; }

.item-input {
  font-weight: bold; }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none; }

.modal.show {
  opacity: 1;
  pointer-events: visible; }

.modal-content {
  width: 60%;
  background-color: paleturquoise;
  transition: all 0.3s ease-in-out; }

.modal.show .modal-content {
  transform: translateY(0); }

.modal-header, .modal-footer {
  padding: 1em; }

.modal-title {
  margin: 0; }

.modal-body {
  padding: 1em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
