.boxone, .boxtwo, .boxthree{
  display: flex;
  
}

.heading-format {
  margin-left: 20px
}

.boxtwo div, .boxthree div {
  width: 99%;
}

#newitem:hover {
  cursor: pointer;
}

.inventory {
  display: flex;
  height: 100px;
  width: 100%;
  margin: 20px;
  background-color: lightblue;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

.inventoryTable {
  width: 100%;
  margin: auto;
  text-align: center;
}

.inventoryTable td {
  padding: 10px;
}

.summary-title {
  font-weight: bold;
}

.new {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 20%;
  margin: 20px;
  background-color: lightblue;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.new:hover{
  cursor: pointer;      
  box-shadow: 0px -10px 20px 1px rgba(0, 0, 0, 0.5);
}

.newlink {
  height: 50px
}

.add-btn {
  font-weight: bold;
  letter-spacing: 2px;
  
}



.departments{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
  grid-template-rows: min-content;

}

.department {
  text-align: center;
  height: 100px;
  margin: 20px;
  width: 100%;
  background-color: lightblue;
  text-decoration: none;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  padding: 10px 0px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.department:hover {
  box-shadow: 0px -10px 20px 1px rgba(0, 0, 0, 0.5);
}

.dep-details {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dep-details td {
  padding: 10px;
}

.dep-name-dashboard {
  font-weight: bold;
}

.mintable {
  width: 100%;
  margin: auto;
}

.mintable tr {
  padding: 10px;
}

.minlevels {
  margin: 20px;
  border-radius: 10px;
  background-color: lightblue;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);

}

.itemvalue-title {
  text-align: center;
  display: table-cell;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.itemvalue {
  text-align: center;
  display: table-cell;
  text-decoration: none;
  color: black;
}

.minitem-title {
  padding: 5px 0px 5px 40px;
  font-weight: bold;
}

.minitem {
  padding: 5px 0px 5px 40px
}

.TEST {
  width: 100px
}


.stock-level-container {
  display: flex;
  flex-direction: row;
  width: 100%
}

.stock-level-container h3 {
  width: 8%;
}

.icon-container {
  padding-top: 12px;
}

.flag {
  z-index: 1;
}
