.boxone, .boxtwo, .boxthree{
  display: flex;
  
}


.boxtwo div, .boxthree div {
  width: 99%;
}

#newitem:hover {
  cursor: pointer;
}

.inventory {
  display: flex;
  height: 100px;
  width: 100%;
  margin: 20px;
  background-color: lightblue;
  justify-content: space-between;
  border-radius: 10px;
}

.inventoryTable {
  width: 100%;
  margin: auto;
  text-align: center;
}

.inventoryTable td {
  padding: 10px;
}

.new {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 20%;
  margin: 20px;
  background-color: lightblue;
  justify-content: space-around;
  border-radius: 10px;
}

.newlink {
  height: 50px
}

.departments{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
  grid-template-rows: min-content;
  
}

.department {
  text-align: center;
  height: 100px;
  margin: 20px;
  width: 100%;
  background-color: lightblue;
  text-decoration: none;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  padding: 10px 0px;
}

.dep-details {
  width: 100%;
  margin: auto;
  text-align: center;
 
}

.dep-details td {
  padding: 10px;
}


.mintable {
  width: 100%;
  margin: auto;
}

.mintable tr {
  padding: 10px;
}

.minlevels {
  border-radius: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: lightblue;
}

.itemvalue {
  text-align: center;
  display: table-cell;
}

.minitem {
  padding: 5px 0px 5px 40px
}
