.boxone, .boxtwo, .boxthree{
  display: flex;
  background-color: blue;
}


.boxtwo div, .boxthree div {
  width: 99%;
}

#newitem:hover {
  cursor: pointer;
}

.inventory {
  display: flex;
  height: 100px;
  width: 75%;
  margin: 20px;
  background-color: lightblue;
  justify-content: space-between;
}

.new {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 20%;
  margin: 20px;
  background-color: lightblue;
  justify-content: space-around;
}

.departments{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
  grid-template-rows: min-content;
}

.department {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  margin: 20px;
  width: 100%;
  background-color: lightblue;
  text-decoration: none;

}

.dep-details {
  padding: 1em

}

.dep-details span {
  padding: 2em
}


.minitem {
  display: flex;
  background-color: lightblue;
  
}

.minitem tr {
  padding-left: 1em
}

.mintable {
  table-layout: fixed;
  width: 100%;
}

.mintable tr {
  width: auto;
  text-align: center;
}