#departments {
  display: flex;
  flex-direction: column;
  width: 200px;
  // background-color: #54a0ff;
  padding: 0 30px;
  height: 600px;
  color: black;
  align-items: flex-start;
}

.departmentsList {
  display: flex;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.department-name {
  margin-left: 10px;
  margin-top: 5px;
}