#departments {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #54a0ff;
  padding: 0 30px;
  height: 600px;
  color: white;
}

.departmentsList {
  display: flex;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  text-decoration: none;
}