.login-form {
  display: flex;
  margin-left: 10%;
}

.login-form-fields {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-left: 5%;
  align-items: center;
}

.login-image {
  width: 600px;
}

.login-text {
  color: black;
}

 h1.login-text {
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0px 6px 4px #ffffff;
}
