.login-form {
  display: flex;
  margin-left: 10%;
}

.login-form-fields {
  display: flex;
  flex-direction: column;
  // height: 100%;
  margin-top: 20%;
  margin-left: 5%;
  align-items: center;
}

.login-image {
  width: 25px;
}