.register-form {
  display: flex;
  margin-left: 25%;
}

.register-form-fields {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 5%;
  align-items: center;
}

.register-image {
  object-fit: cover;
  width: 600px;
  height: 800px; 
}

strong {
  color: black
}