.register-form {
  display: flex;
  margin-left: 10%;
}

.register-form-fields {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-left: 5%;
  align-items: center;
}

.register-image {
  object-fit: scale-down;
  width: 600px; 
}

strong {
  color: black
}