.search-table {
  table-layout: fixed;
  width: 100%;
  
}

.search-results {
  // padding: 0.5rem;
  // border-radius: 0.25rem;
  // border: 1px solid rgb(40, 58, 216); 
  background-color: rgb(7, 156, 249);
  // font-size: 1rem;
  // margin-top: 0.25rem;
  
  width: 100%
}

.folderView {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding-left: 10%;
}

.depview{
  width: 120px;
}

.single-dep {
  text-decoration: none;
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 150px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 30%;
  font-size: 1.1em;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.5);
  
}

.departmentlist {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  padding-left: 10%;

}

.chevron {
  padding: 25px 15px 0 15px;
}

.filters {
  display: flex
}

.searchresults {
  padding: 0 10%;
}